/.vscode
target/classes
/cache
/config
/libraries
/logs
/plugins
/world
/world_nether
/world_the_end
/versions
/lib
*.jar
whitelist.json
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
eula.txt
help.yml
ops.json
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
target/maven-status/maven-compiler-plugin
